<?xml version="1.0" ?>
<robot name="pibotj" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Inicio de la definición del robot con el nombre "pibotj".
       xmlns:xacro establece el espacio de nombres para usar macros xacro. -->

  <!-- Definición de la base del robot -->
  <link name="base_link">
    <!-- Definición del enlace llamado "base_link". -->
    <visual>
      <!-- Sección que define las propiedades visuales del enlace. -->
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
      <!-- La posición (xyz) y orientación (rpy) del enlace respecto a su origen. -->
      <geometry>
        <!-- Inicio de la definición de la geometría del enlace. -->
        <mesh filename="package://pibotj_urdf_complete/meshes/base.stl" scale="1.0 1.0 1.0"/>
        <!-- Geometría del enlace definida mediante una malla (mesh) que se encuentra en el archivo "base.stl".
             La malla se escala a tamaño real -->
      </geometry>
      <material name="blue">
        <!-- Material del enlace con nombre azul. -->
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <!-- Sección que define las propiedades de colisión del enlace. -->
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
      <!-- La posición y orientación de la geometría de colisión. -->
      <geometry>
        <!-- Inicio de la definición de la geometría de colisión. -->
        <mesh filename="package://pibotj_urdf_complete/meshes/base.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <!-- Sección que define las propiedades inerciales del enlace. -->
     <origin rpy="-1.57 0 0" xyz="0 0 0"/>
      <!-- La posición y orientación del centro de masa del enlace. -->
     <mass value="157.633"/>
      <!-- La masa del enlace en kilogramos. -->
     <inertia ixx="0.085" ixy="0" ixz="0" iyy="0.085" iyz="0" izz="0.085"/>
      <!-- Tensor de inercia del enlace, que define cómo se distribuye la masa alrededor del centro de masa. -->
     </inertial>
  </link>


 <!-- Definición de la articulación fija para poner encima una pieza y que no se mueva -->
  <joint name="base_link_to_psuperior_link" type="fixed">
    <!-- Definición de una articulación revoluta (rotacional) llamada "base_link_to_link_01". -->
    <parent link="base_link"/>
    <!-- El enlace padre de esta articulación es "base_link". -->
    <child link="psuperior_link"/>
    <!-- El enlace hijo de esta articulación es "psuperior_link". -->
    <origin rpy="0 0 0" xyz="0.5 0.5 0.4"/>
    <!-- La posición y orientación de la articulación respecto al enlace padre. -->
    <axis xyz="0 0 1"/>
    <!-- El eje de rotación de la articulación (en este caso, alrededor del eje z). -->
    <!--limit effort="1000" lower="-3.14" upper="3.14" velocity="0.5"/-->
    <!-- Límites de la articulación:
         - `effort`: Máximo esfuerzo que puede ejercer la articulación.
         - `lower`: Límite inferior del ángulo de rotación en radianes.
         - `upper`: Límite superior del ángulo de rotación en radianes.
         - `velocity`: Velocidad máxima de rotación en radianes por segundo. -->
  </joint>

<!-- Definición de la pate superior del robot -->
  <link name="psuperior_link">
    <!-- Definición del enlace llamado "base_link". -->
    <visual>
      <!-- Sección que define las propiedades visuales del enlace. -->
      <origin rpy="3.14 0 0" xyz="2.5 93.1 34"/>
      <!-- La posición (xyz) y orientación (rpy) del enlace respecto a su origen. -->
      <geometry>
        <!-- Inicio de la definición de la geometría del enlace. -->
        <mesh filename="package://pibotj_urdf_complete/meshes/psuperior.stl" scale="1.0 1.0 1.0"/>
        <!-- Geometría del enlace definida mediante una malla (mesh) que se encuentra en el archivo "base.stl".
             La malla se escala a tamaño real -->
      </geometry>
      <material name="blue">
        <!-- Material del enlace con nombre azul. -->
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <!-- Sección que define las propiedades de colisión del enlace. -->
      <origin rpy="3.14 0 0" xyz="2.5 93.1 34"/>
      <!-- La posición y orientación de la geometría de colisión. -->
      <geometry>
        <!-- Inicio de la definición de la geometría de colisión. -->
        <mesh filename="package://pibotj_urdf_complete/meshes/psuperior.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <!-- Sección que define las propiedades inerciales del enlace. -->
     <origin rpy="3.14 0 0" xyz="2.5 93.1 34"/>
      <!-- La posición y orientación del centro de masa del enlace. -->
     <mass value="157.633"/>
      <!-- La masa del enlace en kilogramos. -->
     <inertia ixx="0.085" ixy="0" ixz="0" iyy="0.085" iyz="0" izz="0.085"/>
      <!-- Tensor de inercia del enlace, que define cómo se distribuye la masa alrededor del centro de masa. -->
     </inertial>
  </link>

 
  <!-- Configuración para Gazebo -->
  <gazebo>
    <!-- Configuración específica para la simulación en Gazebo. -->
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    <!-- Plugin de Gazebo para el control del robot usando ROS. -->
  </gazebo>
</robot>
