<?xml version="1.0" ?>
<robot name="pibotj">
  <link name="dummy_link"/>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy_link"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <link name="base_link">
    <visual>
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://pibotj_urdf_complete/meshes/base.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://pibotj_urdf_complete/meshes/base.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="-1.57 0 0" xyz="0 0 0"/>
      <mass value="157.633"/>
      <inertia ixx="0.085" ixy="0" ixz="0" iyy="0.085" iyz="0" izz="0.085"/>
    </inertial>
  </link>

  <joint name="base_link_to_psuperior_link" type="fixed">
    <parent link="base_link"/>
    <child link="psuperior_link"/>
    <origin rpy="0 0 0" xyz="0.5 0.5 0.4"/>
  </joint>

  <link name="psuperior_link">
    <visual>
      <origin rpy="3.14 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://pibotj_urdf_complete/meshes/psuperior.stl" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="3.14 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://pibotj_urdf_complete/meshes/psuperior.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="3.14 0 0" xyz="0 0 0"/>
      <mass value="157.633"/>
      <inertia ixx="0.085" ixy="0" ixz="0" iyy="0.085" iyz="0" izz="0.085"/>
    </inertial>
  </link>

  <!-- Configuración para Gazebo -->
  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control"/>
  </gazebo>
</robot>